API_ID=22470785
API_HASH=8093e0132575bd2e33ec762a9b9b3294
BOT_TOKEN=7743484569:AAHUV1vppKgLf6hsjR8vCp2awAxHNtZzeW4
MONGO_DB_URI=mongodb+srv://Dark_infinity_bot:Dark_infinity_bot@cluster0.1q8zf.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
LOGGER_ID=-1002273083150
OWNER_ID=7290350162
STRING_SESSION=BQFW4IEAC5ZfMPrVNpyYfxsW_tZj_ffySvgabFrhA17fvfxbC4ADbpOye7CYERXKU4kNWzNrUgpt-4qhVEdrZMu5jREJ77C012dzqam6T_bm86aXlXcjoumH46_CsklGTUcfxnI03GygeF6cv0bxptNz3rQNPKj6ejJTXSf6b7YMbopUhZ2OYQXXHZjVoyxR366cmnSm1fDFkFNNYsWZNdCheRojBkzAzNvcQvQTOSJjYaUsvMNhlPgq6VG4spymlcmfvIsDsj5lG8hy9P2MiAr1Jtg_MSzwdfD5a-HizV71BDCWp8OA3HHWeUTr1-6I2CTAZNJtb8M1cutga5cZULSKBRQkbAAAAAHJuDxIAA     
