API_ID=22470785
API_HASH=8093e0132575bd2e33ec762a9b9b3294
BOT_TOKEN=7743484569:AAHUV1vppKgLf6hsjR8vCp2awAxHNtZzeW4
MONGO_DB_URI=mongodb+srv://Dark_infinity_bot:Dark_infinity_bot@cluster0.1q8zf.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
LOGGER_ID=-1002273083150
OWNER_ID=7290350162
STRING_SESSION=BQAtdNIAm80nPYKhPYf2jQBbmEdkW9Y6NO1eZ5Mn-rk5L9brSyF63mmSUB4gG8lvUwcTKeI1ACfPNytytyKTLfXBTjrRdYn4_rMviBGGkSQi5lgW2IgE93yoZdx9U_CJcs4MAVJNWihlOLKNhISt77KeAVO0XerL1oh6xHn0mPqw4XV8m5NafBIfLZEf4vejxjhuVYmgaRFPenOVxLJx7r2xlu6uiu3fCvGC0ZOomADz6sA3OnN5ldqJd8YE4HumrtZq9wP9XuBOVOp9MB5IUT2XzWafsOllzbVlpXevdlnqYg9yRdhlR_DIYhup7EjFf5TWpNYnyfuLfZS6u5jkalNOrUn0hgAAAAHNjDKZAQ

     
