API_ID=21437069
API_HASH=1bb25b1906580cff991af83aaae2091c
BOT_TOKEN=7743484569:AAH5BiuV8aMkjiEzxImWI78k-1_ump8EaCg
MONGO_DB_URI=mongodb+srv://Dark_infinity_bot:Dark_infinity_bot@cluster0.1q8zf.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
LOGGER_ID=-1002273083150
OWNER_ID=7290350162
STRING_SESSION=BQFHGo0ArVAAFhzzuAAXv1Sqvx_AE2is4xqPtCqq7l98Mt6Cg78eLn0T9g2Nj6xjdZrrwDLWO2j96_a1VGeexnYVjx_vlWFHdqxMgz0rWZs76aQgWrKe0gDsH_jwTJ3CX6pHPYZXH0C_7xe3INWzCiFn9bqjL6G9b6thxu6mgbZvJpvlViNhhZzHQpmPUk1ADecCYSMp8OL3r5-7fCBLlOxX06eKk3uDKjrQxWIzFBuJAs8mVfGB7w9tirFkUo2FxEuIyyvWIWaASgOGQftzkENmDgtM7DG2zh1rqsmlLDCyvNmt2JPF8qcim-8_bWsCXDcLbiplwNttHzL4ND3Sc7GteKXhqQAAAAHMylfLAA
     
